/*Main Sections */

img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 120px;
  }


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

/* Header */

.header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left:   120px;
    padding-right: 120px;
}

.right {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.left {
    font-weight: bold;
}

/* Blue section, welcome message */

.body1 {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding-bottom: 200px;
    padding-left:   80px;
    padding-right: 80px;
    gap: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-left: 120px;

}

.tittle2 {
    font-size: 30px;
    font-weight: bold;
    color: #f9faf8;
}

#logo {
    width: 440px;
    height: 200px;
    margin-right: 150px;
}

.button1,.button2 {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    padding: 7px 34px;
    margin-top: 15px;
}

.button1:hover , .button2:hover {
    color: #fff;
    background-color: #3882f6;
    border-color: #3882f6;
}

/*Product list */

.body2 {
    font-size: 18px;
    display: flex;
    padding-bottom: 80px;
    padding-left:   80px;
    padding-right: 80px;
    gap: 20px;
    flex-direction: column;
    align-items: center;

}

.product-list li {
    float: left;
    margin: 50px;
  }

.product-list {
    display: flex;
    text-align: center;
  }

.list-tittle {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #1f2937;
    padding: 40px;
    
}


  
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

button{
cursor: pointer;
outline: 0;
display: inline-block;
font-weight: 400;
line-height: 1.5;
text-align: center;
background-color: transparent;
border: 1px solid transparent;
padding: 1px 1px;
font-size: 1rem;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: #3882f6;
border-color: white;
}

button:hover {
    color: #fff;
    background-color: #1f2937;
    border-color: #1f2937;
}


a {
    color: black;
    text-decoration: none;
    cursor: auto;
    }

/* TFue quote */
    
.body3 {
    display: flex;
    font-size: 20px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.Gamer-quotes {

    padding-bottom: 50px;
    padding-left:   80px;
    padding-right: 80px;
    padding-top: 50px;
}

.name {
    padding-top: 10px;
    font-weight: bold;
    text-align: right;
}

p {
    padding: 0;
    margin: 0;
}

/*signupreminder */

.body4 {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}
.Reminder { 
    width: 800px;
    height: 150px;
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 140px;
    border-radius: 20px;

}

.main {
    font-size: 30px;
    font-weight: bold;
    color: #f9faf8;
}

.footer {
background-color: #1f2937;
color: white;
text-align: center;
padding: 40px;
}